{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div id="loginWrap">
    <h1>OsteoClic</h1>

    <form method="post" id="loginForm">

        {% if app.user %}
            <div>
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h2>Connexion</h2>

        {% if error %}
            <div id="loginError">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="loginField">
            <label for="inputUsername">Nom d'utilisateur</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" required autofocus>
        </div>

        <div class="loginField">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" required>
        </div>

        <div class="loginField">
            <label for="listCabinet">Veuillez choisir un cabinet</label>
            <select name="cabinet" id="listCabinet" required>
            {% for cabinet in cabinets %}
                <option value="{{cabinet.id}}">{{cabinet.libelle}}</option>
            {% endfor %}
            </select>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <button class="btn-primary" type="submit">
            Connection
        </button>
    </form>
</div>
{% endblock %}
