{% extends 'base.html.twig' %}
{% block title %}Fiche patient{% endblock %}
{% block nav %}{{ include('_nav.html.twig', {'cabinets': cabinets, 'centerTitle': (patient.nom ~ ' ' ~ patient.prenom)|trim}) }}{% endblock %}
{% block body %}
<div id="mainWraps">

    {{form_start(form)}}
    
    <div id="adminWrap">
    <h2>Administratif</h2>
    <span class= "vLine administratif "></span>
        <div id="subWrap" class="adminstratif">
            <div class="wraps">
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.sexe) }}
                {{ form_row(form.dateNaissance) }}
                {{ form_row(form.profession) }}
                {{ form_row(form.loisir) }}
            </div>
   
            {% if is_granted('ROLE_ADMIN') or new or form.utilisateur.vars.value == app.user.getId() %} 
                {% set hidden = "" %}
            {% else %}
                {% set hidden = "hidden" %}
            {% endif %}      
                <div class="wraps {{hidden}}">
                    {{ form_row(form.adresse) }}
                    {{ form_row(form.codePostal) }}
                    {{ form_row(form.ville) }}
                    {{ form_row(form.numFixe) }}
                    {{ form_row(form.numPortable) }}
                    {{ form_row(form.email) }}
                
                </div>
        </div>
    </div>
    <div id="globalAntWrap" class="antecedent">
    <h2>Antécédents</h2>
    <span class= "vLine antecedent"></span>
        <div id="aWrapInsideAWrap">
            <div id="subWrap" class="antecedent">
            
                <div class="wraps">
                    {{ form_row(form.antTete) }}
                    {{ form_row(form.antOrl) }}
                    {{ form_row(form.antOphtalmo) }}
                    {{ form_row(form.antAuditif) }}
                    {{ form_row(form.antDent) }} 
                    {{ form_row(form.antEndoc) }}
                    {{ form_row(form.antPulmo) }}
                </div>
                
                <div class="wraps">
                    {{ form_row(form.antCardia) }}
                    {{ form_row(form.antDigest) }}
                    {{ form_row(form.antUrin) }}
                    {{ form_row(form.antGyneco) }}
                    {{ form_row(form.antDermato) }}
                    {{ form_row(form.antFamille) }}
                </div>
            </div>
            
            <div id="subAnt">
                <div class="wrapsAnt">
                    <label>Traumatologiques</label>
                    {{ form_row(form.antTrauma) }}
                </div>
                <div class="wrapsAnt">
                    <label>Opérations</label>
                    {{ form_row(form.antOpe) }}
                </div>
                <div class="wrapsAnt">
                    <label>Prise de médicaments</label>
                    {{ form_row(form.antPriseMedic) }}
                </div>
            </div>
        </div>
    </div>
        
    <div id="globalConsultWrap">
        <h2>Consultation</h2>
        <span class= "vLine consultation"></span>
        <div id="consultation" data-patient="{{ patient.id |e}}"
            data-prototype="{{ form_widget(form.consultations.vars.prototype)|e }}"
            data-widget-tags="{{ '<div class="consultblock"></div>'|e }}"
            data-cabinet="{{ app.session.get("cabinet").getId() |e}}"
            data-idUtilisateur="{{ app.user.getId() |e }}">
            {% for consult in form.consultations %}
                <div class="consultblock" id="{{consult.id.vars.value}}">
                    <div class="consultHeader">
                        <span class="consultHeaderDate">{{consult.vars.value.dateConsult| date("d/m/Y")}}</span>
                        <span class="consultHeaderMeta">par {{consult.vars.value.utilisateur.username|e}}{% if consult.vars.value.cabinet %} · {{consult.vars.value.cabinet.libelle|e}}{% endif %}</span>
                        <div class="consultHeaderActions">
                            <span class="consult-action-details">Détails</span>
                            <span class="consult-action-delete">Supprimer</span>
                        </div>
                    </div>
                    <div class="consultBody">
                        <div id="label{{consult.id.vars.value}}">
                            <div class="consultField"><label>Date de Consultation</label><p>{{consult.vars.value.dateConsult| date("d/m/Y")}}</p></div>
                            <div class="consultField"><label>Anamnèse</label><p>{{consult.vars.value.anamnese |capitalize}}</p></div>
                            <div class="consultField"><label>Test</label><p>{{consult.vars.value.test |capitalize}}</p></div>
                            <div class="consultField"><label>Traitement</label><p>{{consult.vars.value.traitement |capitalize}}</p></div>
                            <div class="consultField"><label>Conseil</label><p>{{consult.vars.value.conseil |capitalize}}</p></div>
                            <div class="consultField"><label>Note</label><p>{{consult.vars.value.note |capitalize}}</p></div>
                            <div class="consultField"><label>Moyen de paiement</label><p>{{consult.vars.value.moyenPaiement.libelle |capitalize}}</p></div>
                            <div class="consultField"><label>Montant</label><p>{{consult.vars.value.montant}} €</p></div>
                            {% if consult.vars.value.moyenPaiement.libelle=="Chèque" %}
                                <div class="consultField"><label>Numéro de chèque</label><p>{{consult.vars.value.numeroCheque}}</p></div>
                            {% endif %}
                            <button id='edit{{consult.id.vars.value}}' class="btn-success">Editer</button>
                        </div>
                        <div id="input{{consult.id.vars.value}}" class="subConsult">
                            {{ form_errors(consult) }}
                            {{ form_widget(consult) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <button id='add' class="btn-dark">Nouvelle séance</button>
        </div>
        <span id="error"></span>
    </div>
    <div id="submit">
        {{ form_end(form) }}
    </div>
</div>
<div id="dialog" class="hidden" title="Erreur">
    <p>Veuillez remplir tout les champs</p>
</div>
<div id="dialog2" class="hidden" title="Erreur">
    <p>Veuillez enregistrer la consultation avant d'en démarrer une nouvelle</p>
</div>
<div id="delete" class="hidden" title="Attention">
    <p>Voulez-vous vraiment supprimer cette consultation?</p>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>     
        function addNewBlock(event)
        { 
            event.preventDefault()

            //On récupère la dernière consultation 
            let consultList = document.getElementsByClassName("consultblock")
            let lastConsult = consultList[consultList.length -1]
            //Si il n'existe pas de consultation alors on skip les vérifications
            if(lastConsult)
            {
                
                //On récupère la liste des input required 
                let inputList = lastConsult.getElementsByClassName("consultReq")
                var isOkay = 1

                //On vérifie que les radio bouton sont bien check
                if(!lastConsult.querySelector('input:checked'))
                    isOkay = 0
                    
                //On vérifie chaque input pour voir si ils ont bien une valeur
                
                Array.prototype.forEach.call(inputList,function(input){
                    if(!input.value)
                        isOkay = 0
                });
            }
            else
                isOkay = 1
            
            //Si tout est okay on passe a la verif suivante
            if(isOkay) 
            {   
                /*On regarde dans le dernier champs contenant le texte à ajouter après la consultation si
                il contient bien une valeur, si ce n'est pas le cas on demande à l'utilisateur d'enregistrer la consult
                On vérifie aussi si il existe bien un block */
                dateListe = document.querySelectorAll("input[name$='[texte]']")

                if(!dateListe.length || dateListe[dateListe.length-1].value)
                {
                    addButton = event.currentTarget

                    // On récupère la liste des consultations
                    let idList = document.getElementsByClassName("consultblock")
                    //On compte le nombre de block de consultation déjà présent
                    let counter = idList.length
                    //On prend l'id le plus haut et on l'incrémente pour avoir une ID unique 
                    //Si il n'y a pas d'id précédente on attribue le 1 par default
                    
                    if(counter)
                    {
                        let idArray = []
                        Array.prototype.forEach.call(idList,function(consult){
                            idArray.push(consult.id)
                        });
                        uniqueID = Math.max(...idArray)
                        uniqueID ++ 
                    }
                    else
                        uniqueID = 1

                    //On récupère le prototype de consultation 
                    let consultationBlock = document.getElementById("consultation")
                    let newConsultBlock = consultationBlock.dataset.prototype
                    
                    // On attribue une id unique à chaque blocks et elements de la consultation
                    newConsultBlock = newConsultBlock.replace(/__name__/g, uniqueID) 
                    
                    //On crée le div conteneur de chaque block de consultation
                    let consultDiv = document.createElement('div')
                    consultDiv.className = "consultblock"
                    consultDiv.id = uniqueID

                    //Entete harmonisee avec les consultations existantes (pas de date/utilisateur : pas encore enregistree)
                    let newHeader = document.createElement('div')
                    newHeader.className = "consultHeader"
                    newHeader.innerHTML = '<span class="consultHeaderDate">Nouvelle séance</span>'
                        + '<div class="consultHeaderActions"><span class="consult-action-delete">Supprimer</span></div>'
                    consultDiv.append(newHeader)

                    //On insère le prototype dans un block au meme style que le formulaire d'edition existant
                    let newBody = document.createElement('div')
                    newBody.className = "subConsult"
                    newBody.innerHTML = newConsultBlock
                    consultDiv.append(newBody)

                    //On attache l'evenement de suppression au bouton statique de l'entete
                    newHeader.querySelector(".consult-action-delete").addEventListener("click",function(event)
                    {
                        event.preventDefault()
                        $("#delete").dialog({
                                modal:true,
                                buttons: {
                                    Supprimer: function() {
                                        $( this ).dialog( "close" );
                                        consultDiv.remove()
                                    },
                                    Annuler: function() {
                                        $( this ).dialog( "close" );
                                    }
                                }
                            });
                    })

                    //On l'intègre a la fin du block principal
                    let consultation = document.getElementById("consultation")
                    consultation.append( consultDiv )
                    consultation.append(addButton)

                    //On force le bon patient dans le selecteur d'objet patient du formulaire
                    idPatient= consultationBlock.dataset.patient
                    var selectPatient = document.getElementById("patient_consultations_"+uniqueID+"_patient");
                    selectPatient.value = idPatient
                    
                    //On force le bon utilisateur dans le selecteur d'objet utilisateur du formulaire
                    idUtilisateur = consultationBlock.dataset.idutilisateur
                    var selectUtilisateur = document.getElementById("patient_consultations_"+uniqueID+"_utilisateur");
                    selectUtilisateur.value = idUtilisateur
                    let idCabinet = consultationBlock.dataset.cabinet
                    let selectCabinet = document.getElementById("patient_consultations_"+uniqueID+"_cabinet")
                    selectCabinet.value = idCabinet

                    let dateConsultForm = document.getElementById("patient_consultations_"+uniqueID+"_date_consult")
                    var now = new Date();
                    var day = ("0" + now.getDate()).slice(-2);
                    var month = ("0" + (now.getMonth() + 1)).slice(-2);
                    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

                    dateConsultForm.value = today;
                    
                    //On met en place les évenement des radio bouton
                    setupRadio(uniqueID)

                    /*On cache le block precedent pour qu'il n'y ai qu'un block affiché tout en vérifiant quu'il n'est pas déjà caché 
                    (ex: on crée un evenement juste après en avoir supprimé un, donc rien a cacher)*/
                    
                    if(idList.length > 1)
                    {
                        var previousBlock = idList[idList.length -2].id
                        var previousBlockBody = document.getElementById(previousBlock).querySelector(".consultBody")
                        var previousBlockStyle = previousBlockBody ? previousBlockBody.style.display : document.getElementById(previousBlock).children[0].style.display
                    }
                    else
                        previousBlockStyle = null

                    if(counter && !previousBlockStyle)
                        hideBlock(previousBlock)
        
                    document.getElementById("error").innerHTML = ""
                }
                else  
                    $("#dialog2").dialog({
                        modal:true,
                        buttons: {
                            Ok: function() {
                            $( this ).dialog( "close" );
                            }
                        }
                    });
            }
            else
            {
                $("#dialog").dialog({
                    modal:true,
                    buttons: {
                        Ok: function() {
                        $( this ).dialog( "close" );
                        }
                    }
                });
            }
        }

        //Fonction permetant d'ouvrir/fermer l'accordeon d'un block consultation existant
        function toggleConsultBody(id)
        {
            let body = document.getElementById(id).querySelector(".consultBody")
            body.style.display = (body.style.display === "none") ? "block" : "none"
        }

        //Rend l'entete d'un block existant clickable (accordeon) et branche le bouton Supprimer statique
        function bindExistingConsultHeader(consultblock)
        {
            let id = consultblock.id
            let header = consultblock.querySelector(".consultHeader")
            let deleteAction = consultblock.querySelector(".consult-action-delete")

            header.addEventListener("click", function(event)
            {
                if(event.target.closest(".consult-action-delete"))
                    return
                toggleConsultBody(id)
            })

            deleteAction.addEventListener("click", function(event)
            {
                event.preventDefault()
                event.stopPropagation()
                $("#delete").dialog({
                        modal:true,
                        buttons: {
                            Supprimer: function() {
                                $( this ).dialog( "close" );
                                consultblock.remove()
                            },
                            Annuler: function() {
                                $( this ).dialog( "close" );
                            }
                        }
                    });
            })
        }

        //Fonction non evenementielle permetant de cacher tout les blocks sauf la dernière consultation
        function hideBlock(id)
        {
            var editButton = document.getElementById("edit"+id)
            editButton.addEventListener("click",editConsult)

            //On cache le corps (accordeon ferme), l'entete reste visible
            document.getElementById(id).querySelector(".consultBody").style.display = "none"

            // On récupère la liste des consultations
            let idList = document.getElementsByClassName("consultblock")

            //On crée un tableau avec uniquement les ID des blocks
            let idArray = []
            Array.prototype.forEach.call(idList,function(consult){
                idArray.push(consult.id)
            });

            //on récupère l'index du block avec l'id actuel et l'id du suivant
            index = idArray.indexOf(id)
            newId = idArray[index+1]

            //Grâce à l'id suivante on scroll pour afficher la dernière
            let newblock = document.getElementById(newId)
            if(newblock)
                newblock.scrollIntoView({behavior: "smooth"})
        }

        //fonction mettant en place les evenements des radio boutons de moyen de paiement, pour afficher ou cacher le numero de chèque  
        function setupRadio(counter)
        {
            
            //On utilise le querySelector pour chercher tout les elements correspondant aux critères
            let radioPaiement = document.querySelectorAll("input[name='patient[consultations]["+counter+"][moyen_paiement]']");
            let radioCount = 0;
            if(radioPaiement[0])
                radioPaiement[0].checked = true
            // On parcours tout les boutons du block radio bouton
            for(rb of radioPaiement)
            {
                
                // on donne une idée unique a chaque bouton pour cibler les effets de l'évenement de click
                
                radioPaiement[radioCount].mainId = counter;
                
                radioPaiement[radioCount].addEventListener("click",clicRadio);

                //si un choxi est présent au chargement et qu'il n'est pas "chèque" on cache tout de suite le champ
                if(radioPaiement[radioCount].checked && radioPaiement[radioCount].value != 2)
                    document.getElementById("patient_consultations_"+counter+"_numero_cheque").parentNode.style.display = "none"
                // On passe au bouton radio suivant    
                radioCount++; 
            }
        }

        //Fonction permettant de cacher ou réafficher le champ "numero de chèque"
        function clicRadio(event) 
        {
            let radio = event.currentTarget
            if(radio.value != 2) 
                document.getElementById("patient_consultations_"+radio.mainId+"_numero_cheque").parentNode.style.display = "none"
            else
                document.getElementById("patient_consultations_"+radio.mainId+"_numero_cheque").parentNode.style.display = "block"
            
            //Choix par default si la consultation n'as pas encore été payée
            if(radio.value == 3)
                document.getElementById("patient_consultations_"+radio.mainId+"_montant").value=0
        }

        function editConsult(event)
        {
            let but = event.currentTarget
            event.preventDefault()
            id = (but.id).replace('edit','')
            inputBlock = document.getElementById("input"+id)
            labelBlock = document.getElementById("label"+id)
            inputBlock.style.display = "initial"
            labelBlock.style.display = "none"
        }
        //On attend que le DOM sois chargé avant de lancer les fonctions afin de ne pas avoir de soucis de synchronisation
        //$(document).ready(function()
        window.addEventListener('DOMContentLoaded',function()
        {
            let consultationBlock = document.getElementById("consultation")
            // on recupère l'id du cabinet de la session qui a  été stocké dans les dataset 
            var idCabinet = consultationBlock.dataset.cabinet
            if(!document.getElementById("patient_utilisateur").value)
                document.getElementById("patient_utilisateur").value = consultationBlock.dataset.idutilisateur

            //on récupère le select et on ajoute le cabinet actuel dans la liste des cabinet visité du patient
            let patientCabinet = document.getElementById("patient_cabinet");
            Array.prototype.forEach.call(patientCabinet.options,function(opt){
                if(opt.value == idCabinet)
                    opt.selected = true
            });

    
            //On branche l'accordeon (entete clickable) et le bouton Supprimer statique de chaque consultation existante
            let collectionForms = document.getElementsByClassName("consultblock")
            Array.prototype.forEach.call(collectionForms,function(forms){
                bindExistingConsultHeader(forms)
            });

            /*let consultInput = document.getElementById("consultation")
            let allInput = consultInput.querySelectorAll("input")
            Array.prototype.forEach.call(allInput, function(input){
                input.readOnly= true;
            })
            let allText = consultInput.querySelectorAll("TEXTAREA")
            Array.prototype.forEach.call(allText, function(input){
                input.readOnly= true;
            })*/


             //Ce compteur sert a savoir si des consultations existe déjà 
            let idList = document.getElementsByClassName("idConsult")
            let counter = idList.length;      

            //Si il y a des consultations déjà existante, on les cache toute sauf la dernière
            if(counter)
                for(let i=0; i <= counter-1; i++)
                {
                    if(i==counter-1)
                    {
                        //le dernier block reste ouvert (accordeon deplie) sur le resume, formulaire d'edition cache
                        let cid = idList[i].value
                        document.getElementById("input"+cid).style.display = "none"
                        let editButton = document.getElementById("edit"+cid)
                        editButton.addEventListener("click",editConsult)
                    }
                    else  
                        hideBlock(idList[i].value)  //si le block n'est pas le dernier on le cache
                    
                    //dans tout les cas on met en place les evenements des boutons radio de paiement
                    setupRadio(idList[i].value)
                }
            
            
            //On recupère le bouton de nouvelle sceance 
            let addButton = document.getElementById("add")
            addButton.addEventListener("click",addNewBlock)
            let consultList = document.getElementsByClassName("consultblock")
            let lastConsult = consultList[consultList.length -1]
            if(!lastConsult)
            {
                var clic = new MouseEvent("click",{
                    'view':window,
                    'bubbles':true,
                    'cancelable':true
                });
                addButton.dispatchEvent(clic)
            }
        })

    </script>
{% endblock %}