{% extends 'base.html.twig' %}
{% block title %}Liste Cabinet{% endblock %}
{% block nav %}{{ include('_nav.html.twig') }}{% endblock %}
{% block body %}
<a href="{{path('admin_add_cabinet')}}"><span uk-icon="icon: plus-circle; ratio: 1.5"></span> Ajouter un nouveau cabinet</a>
<table class="uk-table-striped uk-table-hover uk-table-small uk-table">
        <thead>
            <tr>
                <th>Nom du cabinet</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for cabinet in cabinets %}
            
            <tr>
                <td>{{cabinet.libelle}}</td>
                <td><a class="admin" href="{{path('admin_edit_cabinet',{'id':cabinet.id})}}"><span uk-icon="pencil"></span></a></td>
                <td><a class="admin" href="{{path('admin_delete_cabinet',{'id':cabinet.id})}}"><span uk-icon="trash"></span></a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}
