{% extends 'base.html.twig' %}
{% block title %}Liste Utilisateurs{% endblock %}
{% block nav %}{{ include('_nav.html.twig') }}{% endblock %}
{% block body %}
<a href="{{path('add_user')}}"><span uk-icon="icon: plus-circle; ratio: 1.5"></span> Ajouter un nouvel utilisateur</a>
<table class="uk-table-striped uk-table-hover uk-table-small uk-table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            
            <tr>
                <td>{{user.username}}</td>
                <td><a class="admin" href="{{path('admin_edit_utilisateur',{'id':user.id})}}"><span uk-icon="pencil"></span></a></td>
                <td><a class="admin" href="{{path('admin_delete_utilisateur',{'id':user.id})}}"><span uk-icon="trash"></span></a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}
